h1 {
  color: red;
}

p {
  color: green;
}

h1 + p {
  font-size: 200%;
}

a:link {
  color: pink;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}

li em {
  color: rebeccapurple;
}

.special {
  color: orange;
  font-weight: bold;
}
